@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #e7256c;
  font-family: 'Roboto';
}

/* #main_registration {
  position: relative;
} */

#registration_container {
  height: auto;
  width: 340px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 1px 0px 24px #00000044;
  margin: auto;
  color: #323c49;
}

#user_registration {
  margin: auto;
  /* margin-top: 18px; */
  margin-bottom: 18px;
  width: 300px;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.input-group > label, input[type='text'], input[type='password'] {
  font-size: 18px;
  margin-top: 4px;
}

.input-group input[type='text'], input[type='password'] {
  height: 30px;
  border: 1px solid #dedfe6;
  border-radius: 5px;
  color: #323c49;
}

#registration_title {
  font-size: 24px;
}

#btn_register {
  height: 40px;
  width: 300px;
  color: #fff;
  font-family: 'Roboto';
  font-size: 18px;
  border: 2px solid transparent;
  border-radius: 5px;
  background-image:linear-gradient(rgba(102,45,205,1), rgba(255,0,7,1)), linear-gradient(90deg, #cb2dcd, #ff0007, #ff6c24);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #323c49 inset;
  cursor: pointer;
}

#back_link_container {
  height: 40px;
  margin: auto;
  width: 300px;
  text-align: center;
}

#back_link_login {
  text-decoration: none;
  font-size: 14px;
  color: #0146a0;
}