@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #e7256c;
  font-family: 'Roboto';
}

/* #main_registration {
  position: relative;
} */

#registration_container {
  height: auto;
  width: 300px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 0px 0px 22px #00000044;
}

#user_registration {
  display: block;
}

#registration_title {
  font-size: 26px;
}